@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper */

.swiper {
    overflow: initial !important;
}
.swiper-button-next,
.swiper-button-prev {
    top: -1.875rem !important;
    width: 30px !important;
    height: 30px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '' !important;
}

.swiper-button-prev {
    left: initial !important;
    right: 2.5rem !important;
}

.swiper-button-next {
    right: 0 !important;
}

/* Poduct Active Tab */
.products .tab-btns .active-tab {
    background-color: hsl(34, 94%, 87%);
    color: hsl(176, 88%, 27%);
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product-item{
    border: 1px solid hsl(129, 36%, 85%);
    border-radius: 1.5rem;
}

.product-banner {
    padding: 0.625rem 0.75rem 0.75rem;
}

.product-banner,
.product-images {
    position: relative;
}

.product-images {
    display: block;
}

.product-image.hover {
    position: absolute;
    top: 0;
    left: 0;
}

.product-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 0.5rem;
}

.action-btn {
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: hsl(129, 44%, 94%);
    border: 1px solid hsl(129, 36%, 85%);
    color: hsl(154, 13%, 32%);
    font-size: 0.875rem;
    position: relative;
}

.action-btn::after,
.action-btn::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.action-btn::before {
    content: '';
    top: -2px;
    border: 0.5rem solid transparent;
    border-top-color: hsl(176, 88%, 27%);
}

.action-btn::after {
    content: attr(aria-label);
    bottom: 100%;
    background-color: hsl(176, 88%, 27%);
    color: hsl(0, 0%, 100%);
    font-size: 0.68rem;
    font-weight: 500;
    white-space: nowrap;
    padding-inline: 0.625rem;
    border-radius: 0.25rem;
    line-height: 2.58;
}

.tab-item:not(.active-tab) {
    display: none;
}