@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper */

.swiper {
    overflow: initial !important;
}
.swiper-button-next,
.swiper-button-prev {
    top: -1.875rem !important;
    width: 30px !important;
    height: 30px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '' !important;
}

.swiper-button-prev {
    left: initial !important;
    right: 2.5rem !important;
}

.swiper-button-next {
    right: 0 !important;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product-item{
    border: 1px solid hsl(129, 36%, 85%);
    border-radius: 1.5rem;
    transition: all 0.2s;
}

.product-banner {
    padding: 0.625rem 0.75rem 0.75rem;
}

.product-banner,
.product-images {
    position: relative;
}

.product-images {
    display: block;
    overflow: hidden;
    border-radius: 1.25rem;
}

.product-image {
    vertical-align: middle;
    transition: all 1.5s;
}

.product-item:hover .product-image {
    transform: scale(1.1);
}

.product-image.hover {
    position: absolute;
    top: 0;
    left: 0;
}

.product-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 0.5rem;
    transition: all 0.2s;
}

.action-btn {
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: hsl(129, 44%, 94%);
    border: 1px solid hsl(129, 36%, 85%);
    color: hsl(154, 13%, 32%);
    font-size: 0.875rem;
    position: relative;
}

.action-btn::after,
.action-btn::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.action-btn::before {
    content: '';
    top: -2px;
    border: 0.5rem solid transparent;
    border-top-color: hsl(176, 88%, 27%);
}

.action-btn::after {
    content: attr(aria-label);
    bottom: 100%;
    background-color: hsl(176, 88%, 27%);
    color: hsl(0, 0%, 100%);
    font-size: 0.68rem;
    white-space: nowrap;
    padding-inline: 0.625rem;
    border-radius: 0.25rem;
    line-height: 2.58;
}

.product-badge {
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
    background-color: hsl(176, 88%, 27%);
    color: hsl(0, 0%, 100%);
    padding: 0.25rem 0.625rem;
    border-radius: 2.5rem;
    font-size: 0.68rem;
}

.product-badge.light-pink {
    background-color: hsl(341, 100%, 73%);
}

.product-badge.light-green {
    background-color: hsl(155, 20%, 67%);
}

.product-badge.light-blue {
    background-color: hsl(202, 53%, 76%);
}

.product-badge.light-orange {
    background-color: hsl(24, 100%, 73%);
}

.product-content {
    padding: 0 1.25rem 1.125rem;
    position: relative;
}

.product-category {
    color: hsl(60, 1%, 56%);
    font-size: 0.75rem;
}

.product-title {
    font-size: 1rem;
    margin-block: 0.75rem 0.5rem;
}

.product-rating {
    color: hsl(42, 100%, 50%);
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
}

.cart-btn {
    position: absolute;
    bottom: 1.6rem;
    right: 1.25rem;
}

.product-price {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.product-price .new-price {
    font-size: 1.125rem;
}

.new-price {
    color: hsl(176, 88%, 27%);
    font-weight: 600;
}

.old-price {
    color: hsl(60, 1%, 56%);
    font-size: 0.875rem;
    text-decoration: line-through;
}

/* Poduct Active Tab */
.products .tab-btns .active-tab {
    background-color: hsl(34, 94%, 87%);
    color: hsl(176, 88%, 27%);
}

.tab-item:not(.active-tab) {
    display: none;
}

/* Product hover */
.product-image.hover,
.product-action,
.action-btn::before,
.action-btn::after,
.product-item:hover .product-image.default {
    opacity: 0;
}

.product-item:hover {
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.product-item:hover .product-image.hover,
.product-item:hover .product-action,
.action-btn:hover::before,
.action-btn:hover::after {
    opacity: 1;
}

.action-btn:hover::before,
.action-btn:hover::after {
    transform: translateX(-50%) translateY(-0.5rem);
}

.action-btn:hover {
    background-color: hsl(176, 88%, 27%);
    border-color: hsl(176, 88%, 27%);
    color: hsl(0, 0%, 100%);
}